body, html {
  font-size: 14px;
  font-family: "Open Sans";

}

/********************* NAVBAR **********************/
.navbar-default {
background-color: white;
border-bottom: none;
font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
color: #808080;
font-size: 1.1rem;
}

/* 1. override active class style in NAVBAR */
.navbar-default .navbar-nav > .active > a {
background-color: white;
font-weight: bold;
color: #399bd1;
}

/* 2.  how do override hover styles */
.navbar-default .navbar-nav > .active > a:hover {
background-color: white;
color: #399bd1;
}

/* 3. how do make logo dissappear in tablet style: this is with visibility class*/
